:root {
    --primary-color-green: #35A84A;
    --secondary-color-purple: #E767F5;
    --magenta: #9E3EA8;
    --orange: #F56436;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #e7e7e7;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    /*
    font-family: 'Bree Serif', serif;
    font-family: 'Bad Script', cursive;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Raleway', sans-serif;
    */
}
body{
    background-color: var(--grey);
}

header {}


/*COVER*/

.Section--Logo {
    width: 100%;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}


/*logo section*/

.Logo--container {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.Logo--container img {
    width: 100%;
    align-self: center;
    max-width: 700px;
}

.Logo--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    text-align: center;
    align-self: center;
    margin: auto;
}

.Logo--title-container h1 {
    margin-top: 125px;
    margin-bottom: 25px;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--just-white);
}

.Logo--title-container p {
    font-family: 'Bad Script', cursive;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--warm-black);
}

.Logo--button {
    position: relative;
    margin: auto;
    width: 180px;
    font-size: 2rem;
    font-weight: 500;
    padding: 15px;
    background-color: var(--magenta);
    border-radius: 50px;
    text-decoration: none;
    color: white;
    top: 30px;
}


/*WAVE INICIO*/

.bg_color {
    width: 100%;
    height: 70%;
    background: linear-gradient(180deg, rgb(13, 217, 253) 0%, rgba(33, 150, 243, 1) 100%);
    position: absolute;
    top: 0;
    z-index: -1;
}

.wave {
    width: 6000px;
    height: 100%;
    position: absolute;
    top: 197px;
    left: 0;
    background-image: url(../Image/wave.svg);
    background-position: bottom;
    z-index: -1;
}

.w1 {
    animation: w1 7s linear infinite;
}

.w2 {
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
}

@keyframes w1 {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {
    0%,
    100% {
        transform: translateY(-45px);
    }
    50% {
        transform: translateY(10px);
    }
}


/*WAVE FINAL*/

.Section{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2{
    font-size: 3.0rem;
    margin-bottom: 16px;
}
h3{
    font-size: 2.0rem;
    margin: 10px;
}
p{
    font-size: 1.6rem;
}

.services-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.service {
    width: 250px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.service img {
    width: 100%;
    border-radius: 50px;
}

.section-redes{
    background-color: var(--secondary-color-purple);
    background: linear-gradient(180deg, var(--secondary-color-purple) 0%, var(--secondary-color-purple) 100%);
    width: 100%;
    padding-top: 60px;
    padding-bottom: 22px;
}
.wave-opacity{
    background-image: url(../Image/wavesOpacity.svg);
    width: 100%;
    height: 32px;
    position: absolute;
}
.wave-opacity-bottom{
    background-color: var(--grey);
    background-image: url(../Image/wavesOpacitybottom.svg);
    background-position: bottom;
    width: 100%;
    height: 32px;
    position: absolute;
}

.section-redes .services-container {
    display: flex;
    flex-direction: row;
    width: 320px;
    max-width: 500px;
    justify-content: space-between;
    margin-top: 0;
}

.section-redes .service {
    width: 20%;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.section-redes .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgb(13, 217, 253) 0%, rgba(33, 150, 243, 1) 100%);
}
 .fa-facebook-f,.fa-tiktok,.fa-instagram-square{
    color: var(--magenta);
    font-size: 50px;
}
